.content {
  max-width: 1200px;
  margin: 0 auto;
}

.contentHeader {
  max-width: 1200px;
  margin: 0 auto;

  width: 100%;
}

.header {
  background: #1c2025;
  display: flex;
  align-items: center;
  padding: 32px 0;

  margin-bottom: 48px;
}

.title {
  font-size: 2rem;
  font-weight: bold;

  color: #fafbfb;
}

.error {
  background-color: #fff0f0;
  border: 1px solid #ffcaca;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-top: 1rem;
}

.error h2 {
  color: #d32f2f;
  margin-bottom: 0.5rem;
}
